




<body>

    <div id="main-container">
        <img src="images/beat-scout-logo.jpg" alt="Logo" id="logo" width="200px">


        <div id="inside-container">

            <img src="images/login-image.jpg" alt="signup-image" width="600">


        <form id="login-form" action ="/"  method=" post">
            <label for="username">username:</label>
            <input type="text" name="username"  id="username" required>
            <br>

            <label for="password">password:</label>
            <input type="password" name="password" id="password" required>
            <br>

            <button type="submit">log in</button>

    
        </form>

         <p>
            <span style="color: black;">Don’t you have an account?</span>
            <strong><a href="/signup">Sign up</a></p></strong>




        </div>

    </div>

</body>

