




<body class="login-page">

    <div id="main-container">

        <a href="/">

        <img src="images/beat-scout-logo.jpg" alt="Logo" id="logo" width="600px">

         </a>

        <div id="inside-container">

            <img src="images/login-image.jpg" alt="signup-image" width="1000px">

            <form id="login-form" action="/" method="post">
            <label for="username">username:</label>
            <input type="text" name="username"  id="username">
            <br>

            <label for="password">password:</label>
            <input type="password" name="password" id="password" >
            <br>

            <button type="submit">Log in</button>

            {{#if this.errMess}}
             <p class="error">{{this.errMess}}</p>
            {{/if}}

                <p id="signup-link">

                <span style="color: black;">Don’t you have an account?</span>
                <strong><a href="/signup">Sign up</a></strong>

                 </p>
    
        </form>

      




        </div>

    </div>

</body>

