<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>

         <a href="/">
        <img src="/images/beat-scout-logo.jpg" alt="Logo" id="logo" width="100px"></a>

         <a href="/add-bands"> add bands </a>

         <a href="/add-bands"> favorite bands </a>

         <a href="/followed">followed </a>
         

         <a href="/profile"> 
         <img src="profile-pic.jpg" alt="Profile Pic" id ="profile-pic"></a>
        
</nav>







      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>