<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>


      <nav>

         <a href="/">
        <img src="/images/beat-scout-logo.jpg" alt="Logo" id="logo" width="120px"></a>
         <br>
         <a href="/add-bands"> add bands </a>
         <br>

         <a href="/favorite-bands"> favorite bands </a>
         <br>

         <a href="/followed">followed </a>

         <br>
      
         <a href="/profile"> 
         <img src="profile-pic.jpg" alt="Profile" id ="profile-pic"></a>

         <a href="/logout">Logout</a>

        
</nav>
 






      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>