
<h2>Log in</h2>

<body>

    <div id="content">
        <img src="images/beat-scout-logo.jpg" alt="Logo" id="logo" width="200px">




        <form action ="/signup"  method=" post">
            <label for="username">username:</label>
            <input type="text" name="username"  id="username" required>
            <br>

            <label for="password">password:</label>
            <input type="password" name="password" id="password" required>
            <br>

            <button type="submit">log in</button>

            <a href="/profile"></a>
        </form>
    </div>

</body>

