

<body>

    <div id="content-sign-up">
        <img src="images/beat-scout-logo.jpg" alt="Logo" id="logo" width="200px">




        <form action ="/signup"  method="post">
            <label for="username">username:</label>
            <input type="text" name="username"  id="username" required>
            <br>

            <label for="country">country:</label>
            <input type="text" name="country"  id="country" required>
            <br>


            <label for="email">email:</label>
            <input type="email" name="email"  id="email" required>
            <br>

            <label for="password">password:</label>
            <input type="password" name="password" id="password" required>
            <br>

            <button>

                Sign Up

            </button>


    {{#if this.errMess}}

      <p class="error">{{this.errMess}}</p>

    {{/if}}

            

            


        </form>
   

    </div>

</body>

