<div>
  <h3>Followed users</h3>

  {{#each this.followedUser.followed}}
    <div>

    <img src="{{this.profilePic}}" alt="Profile picture"  height="300px">

      <p>{{this.username}}</p>
      <p>Country: {{this.country}}</p>
    </div>
  {{/each}}


</div>
