<div>



<h3>This is your profile</h3>



    <div id="profile-container">

        {{!-- <form id="profile-form" action ="/profile"  method="post" style="margin-top": 20px;>


            <label for="user-name">Name:</label>
            <input type="text" name="user-name"  id="user-name" >
            <br>


             <label for="user-country">Country:</label>
            <input type="text" name="user-country"  id="user-country" >
            <br>
            <br>

            <label for="image">Profile Picture</label>
        <input type="file" name="image">
        <br>
        <br>

        <button id="upload-profile-image">Upload image</button>

        <br>
        <br>


            <button type="submit">Submit</button>

    
        </form> --}}

        <p>Name: {{this.userProfile.username}}</p>
        <p>Country: {{this.userProfile.country}}</p>
        
        <img src="{{this.userProfile.profilePic}}" alt="profile-pic" width="200px">

        <form action="/profile-picture" method="post" enctype="multipart/form-data">
            <label for="image">Foto de perfil</label>
            <input type="file" name="image">

            <button>Subir imagen</button>



        </form>


    </div>










</div>