<div>

<h2>Discover our music gurús</h2>


<img src="{{this.oneUser.profilePic}}" alt="Profile picture"  height="300px">

<h3>{{this.oneUser.username}}</h3>


<p>Country: {{this.oneUser.country}}</p>


<form action="/followed/{{this._id}}" method="post">

    <button class="btn-user-favorites"> Follow</button> 

    </form>

    </div>


<div>
