<div>

<h2>Discover our music gurús</h2>

<h3>{{this.oneUser.username}}</h3>


<img src="{{this.oneUser.profilePic}}" alt="Profile picture"  height="300px">

<p>Country: {{this.oneUser.country}}</p>





<div>
