body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}



nav {
  background-color: white;
  display: flex;
  justify-content: space-around; /* Esto distribuirá los elementos a lo largo de la fila */
  align-items: center; /* Esto centrará verticalmente los elementos */
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}


#content {
  text-align: center;
  color: #ffffff; 
}

#logo {
  max-width: 150px;
  margin-bottom: 20px; 
}

#login-form {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: whitesmoke;
}

#login-form label {
  color: black; 
  font-weight: bold;
  text-align: left;  
  display: inline-block;
  width: 80px; 
  margin-bottom: 15px; 
}

#login-form input {
  width: calc(100% - 100px); 
  padding: 8px; 
  margin-bottom: 15px; 
  border-radius: 5px; 
}


#login-form button {
  background-color: black;
  color: white; 
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#login-form button:hover {
  background-color: #9e2f9e; 
}

