body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


body.login-page {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


a {
  color: #ff00bb;
}



nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}


#main-container {
  text-align: center;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  top: 50%; 
  transform: translateY(-50%); 

}

#logo {
  max-width: 150px;
  margin-bottom: 20px; 
}

#inside-container {
  position: relative;
}

#login-form {
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 350px;
  left: 900px; 
  transform: translate(-50%, -50%);
}

#logo {
  max-width: 200px; 
  margin-right: 20px;
}

#inside-container img {
  max-width: 100%;  
  display: block;
}

#login-form label {
  color: black;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 80px;
  margin-bottom: 15px;
}

#login-form input {
  width: calc(100% - 100px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#login-form button {
  background-color: black;
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#login-form button:hover {
  background-color: #9e2f9e;
}

.error {
  color: blueviolet;
  font-weight: bold;
}




#signup-link {
  margin-top: 30px; 
}


/*! formulario signup */


body.signup-page {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


#sign-up-container{
  text-align: center;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  top: 50%; 
  transform: translateY(-50%); 
  
}

#logo {
  max-width: 150px;
  margin-bottom: 20px; 
}

#inside-sign-up-container {
  position: relative;
}

#signup-form{
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 320px;
  left: 900px; 
  transform: translate(-50%, -50%);
}


#logo {
  max-width: 200px; 
  margin-right: 20px;
}

#inside-sign-up-container img {
  max-width: 100%;  
  display: block;
}

#signup-form label {
  color: black; 
  font-weight: bold;
  text-align: left;  
  display: inline-block;
  width: 80px; 
  margin-bottom: 15px; 
}

#signup-form input {
  width: calc(100% - 100px); 
  padding: 8px; 
  margin-bottom: 15px; 
  border-radius: 5px; 
}


#signup-form button {
  background-color: black;
  color: white; 
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#signup-form button:hover {
  background-color: #9e2f9e; 

}



/*! formulario add-bands */


#add-bands-header {

  margin-right: 400px !important
}

#add-bands-container {
  text-align: center;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  top: 55%;
  left: 15%;
  transform: translate(-50%, -50%);
}



#add-bands-form {
  width: 90%; 
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#add-bands-form label {
  color: black;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

#add-bands-form select {
  width: 100%; 
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#add-bands-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;

}



#add-bands-form button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#upload-band-image button {
  margin-left: 0; 
}

#add-bands-form button:hover {
  background-color: #9e2f9e;
}

.error {
  color: blueviolet;
  font-weight: bold;
}


/*! formulario profile */


#profile-container {
  text-align: center;
  color: #000000;
  position: fixed;
  z-index: 1;
  top: 42%;
  left: 15%;
  transform: translate(-50%, -50%);
}



#profile-form {
  width: 90%; 
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#profile-form label {
  color: black;
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

#profile-formselect {
  width: 100%; 
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#profile-form input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;

}



#profile-form button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#upload-profile-image button {
  margin-left: 0; 
}

#profile-form button:hover {
  background-color: #9e2f9e;
}

.error {
  color: blueviolet;
  font-weight: bold;
}


/* #form-profile-picture{

  display: none;

  
}


#form-profile-picture.display{

  display: block;

} */